Generelt/

Realfagskjellern/

**/.idea/

Informatikk/julekalender_knowit/.idea/

Informatikk/julekalender_knowit/venv/

V2019/TDT4140/bok.pdf

Informatikk/H2019/Studass/*

Informatikk/H2018/Studass/*

Informatikk/Bøker/IR.pdf

Informatikk/H2019/TDT4165/Ovinger/TDT4165_Scala

Informatikk/Bachelor/V2020/IT2901/IT2901_final_report_Ebba.pdf

Informatikk/Bachelor/V2020/IT2901/IT2901_Project_Report___Group_11.pdf

Informatikk/Bachelor/V2020/IT2901/IT2901_Report.pdf

Icon\r

*/Icon\r

#############################
#       LaTex ignores       #
#############################


**/*.aux


**/*.log


**/*.out


**/*.gz


**/*.syntex.gz


**/*.png

**/*.icloud


#############################
#   Trættebergs .ex filer   #
#############################
**/*.ex



#############################
#  .d filer, probs datadig  #
#############################


**/*.d



#############################
#  .pde filer fra plab      #
#############################


**/*.pde

**/__pycache__/
**__pycache__
__pycache__

Icon[]

##############################
#        Temp ignores        #
##############################

**/.vscode
**/.DS_Store
.DS_Store
